# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm install
    - run: npm run build --if-present
    - run: npm test
    - name: Check if SONAR_TOKEN exists
      run: |
        if [ -z "${{secrets.SONAR_TOKEN}}" ]; then
          echo "❌ SONAR_TOKEN is empty"
        else
          echo "✅ SONAR_TOKEN is set: ${{secrets.SONAR_TOKEN}}"
        fi
    - name: SonarQube Scan
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      run: npm run sonar
          
    - name: Build & push Docker image
      uses: docker/build-push-action@v6
      # with:
      #   push: true
      #   tags: ghcr.io/sangduong-dev/nest-postgres:latest
      run: docker build -d -t cat .
          # -e DB_HOST=${{ secrets.DB_HOST }} \
          # -e DB_PORT=${{ secrets.DB_PORT }} \
          # -e DB_USER=${{ secrets.DB_USER }} \
          # -e DB_PASSWORD=${{ secrets.DB_PASSWORD }} \
          # -e DB_DATABASE=${{ secrets.DB_DATABASE }} \
          # -e JWT_SECRET=${{ secrets.JWT_SECRET }} \
          # -e ACCESS_TOKEN_SECRET=${{ secrets.ACCESS_TOKEN_SECRET }} \
          # -e REFRESH_TOKEN_SECRET=${{ secrets.REFRESH_TOKEN_SECRET }} \
          # -e SMTP_USER=${{ secrets.SMTP_USER }} \
          # -e SMTP_PASS=${{ secrets.SMTP_PASS }} \
          # -e NODE_ENV=${{ secrets.NODE_ENV }} \
          # -e SONAR_TOKEN=${{ secrets.SONAR_TOKEN }} \
          

