# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Build Image Development CI/CD

on:
  push:
    branches: [ "main", "staging", "develop", "feat/**" ]
  workflow_dispatch:
    # logLevel: 'info'
  # pull_request:
  #   branches: [ "main", "staging" ] # production, staging

jobs:
  # lint:
  #   if: github.ref != 'refs/heads/main' && github.ref != 'refs/heads/staging'
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v4
  #     - name: Setup Node.js
  #       uses: actions/setup-node@v4
  #       with:
  #         node-version: 22
  #         cache: 'npm'

  #     - name: Install dependencies
  #       run: npm ci

  #     - name: Run ESLint
  #       run: npm run lint

  # test:
  #   if: github.ref != 'refs/heads/main' && github.ref != 'refs/heads/staging'
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v4

  #     - name: Setup Node.js
  #       uses: actions/setup-node@v4
  #       with:
  #         node-version: 22
  #         cache: 'npm'

  #     - name: Install dependencies
  #       run: npm ci

  #     - name: Run Tests
  #       run: npm run test --if-present

  # sonarQube:
  #   if: github.ref != 'refs/heads/main' && github.ref != 'refs/heads/staging'
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v4

  #     - name: Setup Node.js
  #       uses: actions/setup-node@v4
  #       with:
  #         node-version: 22
  #         cache: 'npm'

  #     - name: Install dependencies
  #       run: npm ci
        
  #     - name: SonarQube Scan 
  #       env:
  #         SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  #       run: npm run sonar 

  package:
    if: github.ref != 'refs/heads/main' && github.ref != 'refs/heads/staging'
    runs-on: [self-hosted, macOS]
    # needs: [lint, test, sonarQube] 
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          clean: false
        
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push Docker image
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: |
            ghcr.io/sangdv219/cat:${{ github.sha }}

  deploy-staging:
    if: github.ref == 'refs/heads/staging'
    runs-on: ubuntu-latest
    environment:
      name: staging
      url: ${{vars.URL}}   
    steps:
    - name: Deploy to EC2 via SSH in Staging
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.EC2_HOST  }}
        username: ubuntu 
        key: ${{ secrets.EC2_SSH_KEY  }}
        envs: APP_NAME
        script: |
          echo "---------- Start deploy-staging.sh on EC2 ----------"
          chmod +x /home/ubuntu/scripts/deploy-staging.sh

          bash /home/ubuntu/scripts/deploy-staging.sh
          echo "---------- Finished deploy-staging.sh ----------"
      env:
          APP_NAME: cat

  deploy-prod:
    if: github.ref == 'refs/heads/main'
    runs-on:  ubuntu-latest
    environment:
      name: production
      url: ${{vars.URL}}
    steps:
    - name: Deploy to EC2 via SSH in Production
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ubuntu 
        key: ${{ secrets.EC2_SSH_KEY }}
        envs: APP_NAME
        script: |
          echo "---------- Start deploy-prod.sh on EC2 ----------"

          bash ${{vars.PATH_DEPLOY}}
          echo "---------- Finished deploy-prod.sh ----------"
      env:
        APP_NAME: cat